* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    max-width: 100%;
    height: 80vw;
    width: 100vw;
    font-family: Inter, sans-serif;
    color: #1d1d1d;
}

.container {
    padding: 0px 200px;
}

.black-button {
    background-color: #1d1d1d;
    transition: box-shadow .2s, background-color .2s, transform .2s, color .2s;
    border-radius: 8px;
    padding: 6px 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    border-style: none;
    color: white;
}

.black-button:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}





.nav-bar>a {
    width: min-content;
}

.nav-bar--logo {
    width: 180px;
}

.nav-bar {
    z-index: 200;
    background-color: #fff;
    border-bottom: 1px solid #f5f6f7;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    height: 70px;
    max-width: 100%;
    flex-basis: 25em
}


.nav-bar--buttons-wrapper {
    display: flex;
    max-height: 60%;
}

.nav-bar--buttons-wrapper>button {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    border-style: none;
}

header {
    width: 100%;
    height: 80%;
    padding-top: 20rem;
    margin-bottom: 5rem;
    background-image: url("../../../assets/images/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.header-title {
    position: relative;
    top: -15rem;
    left: 3rem;
    padding: auto;
    letter-spacing: 3;
    font-weight: bolder;
    font-size: 52px;
    color: whitesmoke;
    text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.2);
}

.header-title>span {
    color: aqua;
}


.search-wrapper {
    width: 60%;
    margin: auto;
    min-width: 300px;
    height: 3.5rem;
    position: relative;
    margin-bottom: 20px;
}

.search-box {
    width: 100%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.322);
    box-shadow: rgba(2, 11, 20, 0.2) 0px 5px 15px;
    height: 100%;
    width: 100%;
}

.search-card {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.search-input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0.5rem;
}

.search-button {
    width: 200px;
    height: 70px;
    background: aqua;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

.filter-box {
    width: 200%;
    height: 100px;
    font-size: 0.8rem;
    width: 60%;
    min-width: 300px;
    margin: auto;
}

.filter-dropdown {
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.3rem
}

.filter-select {
    border: none;
    padding: 0.2rem;
}

.filter-select:hover {
    background: rgba(145, 144, 144, 0.123);
}

.filter-chosen {
    width: 100%;
    padding: 0.3rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.chosen-card {
    background-color: aqua;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.job-list {
    margin: 2%;
    padding: 1rem;
    background-color: rgba(165, 165, 165, 0.274);
}

.job-card {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    min-height: 100px;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer
}

.job-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.job-name {
    display: flex;
}

.job-profile {
    width: 60px;
    height: 60px;
    margin: 0.5rem;
}

.job-detail {
    padding: 0 10px;
}

.job-detail>h4 {
    color: aqua;
    font-size: 0.9rem;
}

.job-detail>p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.job-label {
    display: flex;
    flex-wrap: wrap;
}

.job-label>a {
    padding: 0.1rem;
    margin: 0.2rem;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1rem;
}

.label-a {
    background-color: rgba(223, 223, 29, 0.829);
}

.label-b {
    background-color: aqua;
}

.label-c {
    background-color: black;
}

.job-posted {
    font-size: 1rem;
}

.job-more {
    display: block;
    padding: 0.3rem 2rem;
    margin: 20px auto;
    width: 250px;
    background-color: transparent;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 20px;
    cursor: pointer;
}

.job-more:hover {
    background-color: aqua;
    color: whitesmoke;
}